.cover {
    margin: 92px auto 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1184px;
    height: 740px;
}

@media screen and (max-width: 1184px) {
    .cover {
        width: 100%;
        height: calc(740 / 1184 * 100vw);
    }
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}