.cover__overlay {
    position: absolute;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
    margin: 0;
    width: 1184px;
    min-height: 740px;
    transition: opacity 1s ease;
}

@media screen and (max-width: 1184px) {
    .cover__overlay {
        width: 100%;
        min-height: calc(740 / 1184 * 100vw);
    }
}