.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 92px 48px 0;
    padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 88px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        margin: 64px 16px 0;
    }
}